*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-image: url("blogPics/IndexBG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    position: relative;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    font-family:cursive;;
    font-weight: bold;
}
ul li{
    position: relative;
    margin: 0px 30px;
    display: inline;
    text-transform: uppercase;
}
ul li::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 5px;
    bottom: -8px;
    background-color: white;
}
ul li:hover::before{
    width: 100%;
}
img{
    width: 50px;
    height: 50px;
    
}
span{
    color: white;
    font-family: Lucida Handwriting;
}
nav h6{
    color: white;
}

.post {
    border: 12px groove goldenrod;
	margin-left:340px;
	margin-right:340px ;
	background-color: wheat;
    margin-top: 80px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;

}
.post a{
    text-decoration: none;
}
